@font-face {
    font-family: 'AirStripFour'; /*a name to be used later*/
    src: url('airstrip.ttf'); /*URL to font*/
}

#aboutSection{
	background: #ff420f;
	height: 100%;
}

.html, body {
   height:100%;
}

div{
	height: 100vh;
}

#gradLeft {
  	background-image: linear-gradient(to right, #ff420f 67%, #163f3c);
  	font-family: 'AirStripFour';
  	color: white;
}
#gradRight{
  	background-image: linear-gradient(to right,#163f3c, #071515);
}

#navBar{
	background: #ff420f;
	background-image: linear-gradient(to right, #ff420f 44.6%,#163f3c, #071515);
	border:2px solid white;
}

#navOne{
	color: black;
	font-family: 'AirStripFour';
}

#navTwo{
	color: black;
	font-family: 'AirStripFour';
}

#navThree{
	color: black;
	font-family: 'AirStripFour';
}

#navspace{
	opacity: 0;
}

#redRocks{
	margin-top: 540px;
}

#buses{
	width: 25%;
	height: 15%;
}

#ship1{
	width: 30%;
	height: 15%;
}

#ship2{
	width: 30%;
	height: 15%;
}

#about{
	font-family: 'AirStripFour';
	color: white;
	font-size: 40px;
	text-align: center;
}
#question{
	font-family: 'AirStripFour';
	color: white;
	font-size: 40px;
	text-align: center;
}
